body{
    background-color: bisque;
}
form{
    background-color: bisque;
}
h1{
    background-color: rgb(206, 173, 173);
    color: aliceblue;
    text-align: center;
    border: 1px none wheat;
    border-radius: 14px;
}
input{
    border-radius: 14px;
    border: 1px none black;
    text-align: center;
    padding: 5px;
    margin-left: 25px;
}
button{
    background-color: none;
}
.btnEkle{
    color: black;
    border: none;
    padding: 10px;
    border-radius: 14px;
    cursor: pointers;
}